nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}nav.menu-nav ul li.btn a{
	color: white;
	background-color: purple;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
}

nav.menu-nav ul li.btn:hover a{
	color: yellow;
	background-color: purple;
	transition: 0.5s all;

}


p.well{
	text-align: center;
	color: black;
	background: url(https://media.gettyimages.com/videos/blood-splatter-video-id117913030?s=640x640);
	font-weight: bold;
	font-size: 35px
}

p.viva{
	text-align: center;
	color: #BF1D2D;
font-weight: bold;
font-size: 30px
}


body{
	background-color: #54050D
}

h2.head{
	color : #fff;
	text-align: left;
	font-size: 20px;
	padding-left: 100px;
}

a{
	color: #E21C44;
}

h3.hand{
	text-align: left;
	color: #975C5C;
	font-size: 30px;
	font-weight: 200px;
}

h4.bob{
	text-align: left;
	color: #ED273B;
	font-size: 20px;
	font-weight: 150px

}

Img {
width : 1000px ;
height : 200px ;
padding :10px ;
margin: 20px;
 }
